<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random {{.Team}}</title>
  <style>
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
    nav a {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 2em;
      gap: 1em;
      font-size: 2rem;
    }
    nav a:local-link {
      border-bottom: 2px solid lightblue;
    }
    nav a svg {
      object-fit: contain;
    }
    .loadout {
      display: grid;
      grid-template:
        "operator operator" auto
        "primary secondary" auto
        "gadget gadget" auto
        / auto auto;
      max-width: 50ch;
      margin-inline: auto;
      justify-items: center;
    }

    .operator {
      grid-area: operator;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .primary {
      grid-area: primary;
    }

    .secondary {
      grid-area: secondary;
    }

    .gadget {
      grid-area: gadget;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/attacker">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30"><path fill="%2324262a" d="M8.32,19.16l-5.54,5.54H2V28h3.31v-0.79l5.54-5.54H8.32V19.16z M25.2,2L10.29,17.18L8.5,15.4l-0.94,0.94l1.87,1.87v2.36h2.36l1.87,1.87l0.94-0.94l-1.78-1.78L28,4.8V2H25.2z M21.68,19.16v2.52h-2.52l5.54,5.54V28H28v-3.31h-0.78L21.68,19.16z M14.6,11.98L4.8,2H2v2.8l9.98,9.8L14.6,11.98z M20.57,18.21l1.87-1.87L21.5,15.4l-1.78,1.78l-1.67-1.71l-2.56,2.56l1.7,1.67L15.4,21.5l0.94,0.94l1.87-1.87h2.36V18.21z"/></svg>
     <span>Attack</span>
    </a>
    <a href="/defender">
      <span>Defense</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30"><path fill="%2324262a" d="M19.27,9.74l-4.25,2.17L10.73,9.7L8.15,28h13.7L19.27,9.74z M21.23,7.01V2h-2.88v1.73h-1.96V2h-2.78v1.73h-1.96V2H8.77v4.96l6.25,3.51L21.23,7.01z"/></svg>
    </a>
  </nav>
  <div class="loadout">
    <div class="operator">
      <img width="201" src="{{.OperatorIcon}}" alt="{{.Operator}}" />
      <h1>{{.Operator}}</h2>
    </div>
    <div class="primary">
      <!--<img src={{/*.Primary.Icon*/}} alt="" />-->
      <h2>{{.Primary}}</h2>
      {{with .PrimaryAttachments}}
        {{with .Sight}}
          <p>{{.String}}</p>
        {{end}}
        {{with .Barrel}}
          <p>{{.String}}</p>
        {{end}}
        {{with .Grip}}
          <p>{{.String}}</p>
        {{end}}
        {{with .Underbarrel}}
          <p>{{.String}}</p>
        {{end}}
      {{end}}
    </div>
    <div class="secondary">
      <!--<img src={{/*.Secondary.Icon*/}} alt="" />-->
      <h2>{{.Secondary}}</h2>
      {{with .SecondaryAttachments}}
        {{with .Sight}}
          <p>{{.String}}</p>
        {{end}}
        {{with .Barrel}}
          <p>{{.String}}</p>
        {{end}}
        {{with .Grip}}
          <p>{{.String}}</p>
        {{end}}
        {{with .Underbarrel}}
          <p>{{.String}}</p>
        {{end}}
      {{end}}
    </div>
    <div class="gadget">
      <!--<img src={{/*.Gadget.Icon*/}} alt="" />-->
      <h2>{{.Gadget}}</h2>
    </div>
  </div>
</body>
</html>
